.gallery
  %p
    = f.label "Title:"
    %br
    = f.text_field :title, size: 40
  %p
    = f.label "Description:"
    %br
    = f.text_area :description, rows: '10', cols: '70'
  %p
    = f.file_field :images, multiple: true
  %br
