.gallery
  .show-gallery
    .text-content
      %h2= @gallery.title
      %p= raw @gallery.description
    .grid
      - @gallery.image_attachments.each do |attach|
        .grid-item
          %a.fancybox{href: attachment_image_path(attach), rel: 'gallery', title: attach.description}
            = image_tag(attachment_image_preview_path(attach), width: image_width(attach),
              height: image_height(attach), alt: attach.image_file_name)
          %br
          = link_to 'edit', attachment_image_edit_path(attach) if admin_signed_in?
    %div.foot
      = link_to 'back', galleries_path
