.gallery
  .show-gallery
    .text-content
      %h2= @gallery.title
      %p= raw @gallery.description
    .grid
      - @gallery.image_attachments.each_with_index do |attach, index|
        .grid-item{id: "item-#{index}"}
          %a.fancybox{href: attachment_image_path(attach), rel: 'gallery', title: attach.description}
            = image_tag(attachment_image_preview_path(attach), width: image_width(attach),
              height: image_height(attach), alt: attach.image_file_name)
          %br
          - if admin_signed_in?
            = link_to 'edit', attachment_image_edit_path(attach)
            = link_to 'destroy', attachment_image_destroy_path(src: attach.id, gallery_id: @gallery.id),
              method: :post, data: {confirm: 'Are you sure?'}
    %div.foot
      - if admin_signed_in?
        = form_for "gallery", url: attachment_image_download_path, method: :post do |f|
          = f.file_field :images, multiple: true
          = f.hidden_field :id, value: @gallery.id
          %br
          = f.submit 'upload'
      -#= link_to 'назад', galleries_path
