!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "description", :content => "Персональный сайт Елены Музиной, посвященный ручной работе и творчеству"}
    %meta{:name => "keywords", :content => "scrapbooking, скрапбукинг, ручная работа, альбомы, елена, музина, handmade"}
    %title Elena Muzina
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #canvas
      #header
        #logo
          %h1.logo
            %a{href: "/"} Елена Музина
        #topNav
          %nav.main-nav
            %ul
              %li#blog-nav
                %a{href: "/posts"} Блог
              %li#gallery-nav
                %a{href: "/my_works"} Мои работы
              %li#about-nav
                %a{href: "/about"} Обо мне
              - if admin_signed_in?
                %li
                  = link_to 'sign_out', destroy_admin_session_path, method: :delete
      %section#page
        = yield
      %footer#footer
        #footerBlock
          %p
            Powered by
            %a.underline-links{href: "http://rubyonrails.org", target: "_blank"} muz0xd
        #socialLinks
          %a{href: "mailto://naushkina@gmail.com", target: "_blank"} &#62223
          %a{href: "https://instagram.com/elena_shhhhh/", target: "_blank"} &#62253
          %a{href: "http://vk.com/shulepoval", target: "_blank"} &#62292
